In [1]:
#Write a program to print every character of a string entered by user in a new line using loop.

s=input()
for i in s:
    print(i)

alekhya
a
l
e
k
h
y
a

In [2]:
#Write a program to find the length of the string "refrigerator" without using len function.

s="refrigerator"
len(s)

12

In [13]:
#Write a program to check if the word 'orange' is present in the "This is orange juice".


s="This is orange juice"
s_split=s.split()
for i in s_split:
    if "orange" in i:
        print("present")
    else:
        print("not present")

not present
not present
present
not present

In [21]:
#Write a program to find the first and the last occurence of the letter 'o' and character ',' in "Hello, World"

s="Hello, World"
count=0
k=""
for i in s:
    if i!=",":

1
2
3
4
5
6
7
8
9
10

In [23]:
d={}
type(d)

dict

In [42]:
d1={"names":["alekhya","archana","parvathi"],"rollnumber":[111,22,33]}
for i in range(len(d1["names"])):
    print("student",i+1,end=" ")
    print(d1["names"][i],d1["rollnumber"][i])

student 1 alekhya 111
student 2 archana 22
student 3 parvathi 33

In [63]:

names=["sunil","anil","rahul"]
for i in range(len(names)):
    #print(i)
    print(names[i],":",i)

sunil : 0
anil : 1
rahul : 2

In [54]:
for i,v in enumerate(names):
    print(i,v)

1 sunil
2 anil
3 rahul

In [55]:
for i,v in enumerate(names,start=1):
    print(i,v)

1 sunil
2 anil
3 rahul

In [56]:
for i,v in enumerate(names):
    print(i+1,v)

1 sunil
2 anil
3 rahul

In [57]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
d1={"names":["alekhya","archana","parvathi"],"rollnumber":[111,22,33]}

marks={}.fromkeys(names,55)
marks

NameError: name 'names' is not defined

In [71]:
#d1.get("names")
print(d1.get("salary"))

None

In [74]:
d1.get("salary","notexisted")

'notexisted'

In [106]:
name1=" sunil 55 65 anil abdul 78"
name2=name1.split()
d={}
li=[]
li1=[]
for i in name2:
    if i.isdigit():
        li.append(i)
    else:
        if i.isalpha():
            li1.append(i)
for k in range(len(li1)):
    d[li1[k]]=li[k]
print(d)

{'sunil': '55', 'anil': '65', 'abdul': '78'}

In [114]:
def spliting(n):
    s=n.split(".")[-1]
    print(s)

t=int(input())
for i in range(t):
    n=input()
    spliting(n)

1
aww.dsf.awd
awd

In [111]:
a="www.alekm.com"
a.split(".")

['www', 'alekm', 'com']

In [115]:
print(type(4))

<class 'int'>

In [116]:
int.__add__(2,3)

5

In [117]:
int.__sub__(7,8)

-1

In [120]:
s="a a b b c c"
s_split=s.split(" ")

['a', 'a', 'b', 'b', 'c', 'c']

In [123]:
s="aabbcc"
s1=list(s)
d={}
for i in s1:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'a': 2, 'b': 2, 'c': 2}

In [142]:
def range1(size,st=0,inc=1):
    print(size,st,inc)
range1(10)
range1(0,10)
range1(10,1,2)

10 0 1
0 10 1
10 1 2

In [159]:
#required argument
def add(a,b):
    print(a,b)
    print(a+b)
add(b=6,a=5)

5 6
11

In [148]:
#
print("hi",end="$")
print("hello")

hi$hello

In [162]:
#argument length
def su(*ar):
    return len(ar)
su(1,2,3,40,"exit")

5

In [171]:
def su(*ar):
    #print(ar)
    ##print(a)
    #print(b)
    s=0
    for i in (ar):
        if i=="exit":
            break
        s+=i
    print(s)
        
su(1,2,3,40,"exit",45)

46

In [188]:
import re
def phonenumber(inp):
    pattern="^[6-9][0-9]{9}$|[+][9][1][ ][6-9][0-9]{9}$|[0][6-9][0-9]{9}$"
    if re.match(pattern,str(inp)):
        return "valid"
    return "invalid"
phonenumber("109010203749")

'invalid'

In [194]:
s="abcDEF123@0"
l=[]
l1=[]
l2=[]
l3=[]
d={}
l4=["upper","lower","numeric","special"]

for i in s:
    if i.islower():
        l1.append(i)
    elif i.isnumeric():
        l2.append(i)
    elif i.isupper():
        l.append(i)
        
    else:
        l3.append(i)

l_c=len(l)
l1_c=len(l1)
l2_c=len(l2)
l3_c=len(l3)

In [5]:
d1={"names":["alekhya","archana","parvathi"],"rollnumber":[111,22,33]}

names=["alekhya","archana","parvathi"]
marks={}.fromkeys(names,55)
marks

{'alekhya': 55, 'archana': 55, 'parvathi': 55}