In [1]:
#Function to print all combinations of pairs of integers in a 
#-->[1,2,3]-->(1,2),(1,3),(2,3)-->3c2-->3!/((3-2)!*2!)   ncr=n!/((n-r)!*r!)

def combinations(li):
    for i in range(len(li)-1):
        #print(i,"ivalue")
        for j in range(i+1,len(li)):
            #print(j,"jvalue")
            print(li[i],li[j])
    return
li=[1,2,3,4,5]
combinations(li)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [2]:
#Function to print all combinations of pairs of integers in a 
#-->[1,2,3,4]-->1,2,3   1,2,4   1,3,4   2,3,4
#combinations of 3 elements
def combinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4]
combinations(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [ ]:
#difference of pairs
def medium(li,k):
    while(True):
        li3=differencepairs(li)
        if li3[0]==li[1]:
            break
    if len(li(3))>=k:
        return sorted(sorted(li3[0]),reverse=True)[k-1]
    else:
        return -1
def differencepairs(li):
    cli=li[:]
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)

    return [cli,li]
li=[1,9]
#differencepairs(li)
medium(li,2)

In [3]:
def differncepairs_test(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
li=[2,3,6,9,12,1,4,7,8,11]

differncepairs_test(li)

[2, 3, 6, 9, 12, 1, 4, 7, 8, 11, 10, 5]

### Set-Data structure in Python

- Represented by { }

- It is a mutable function

In [7]:
a={1,2,3,4,5,6,6}

a.add(7)# adding a single element


for i in a:
    print(i,end=" ")

1 2 3 4 5 6 7

In [8]:
a={1,2,3}
b={2,3,4,5,6}
#adding number of elements
a.update(b) # it removes the repetition elements
a

{1, 2, 3, 4, 5, 6}

In [11]:
a={1,2,3}
b=(2,3,4,5,6)
c=[1,2,3,8]
#adding number of elements
a.update(b,c) # it removes the repetition elements
a

{1, 2, 3, 4, 5, 6, 8}

In [9]:
a={1,2,3,4,5,6,7,8}
a.discard(10) #removing value 10 in set a
a
#we can use a.remove(value) but if value is not not present in set it shows key error so,it is better to use discard method

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
a={1,2,3,4,4}
b={2,3,4}
a.union(b) # it prints all the elements in a and b

#a U b = b U a

{1, 2, 3, 4}

In [18]:
a={1,2,3,4,4}
b={2,3,4}
a.intersection(b)

{2, 3, 4}

- Set Methods
- Python has a set of built-in methods that you can use on sets.

- Method	Description
- add()	Adds an element to the set
- clear()	Removes all the elements from the set
- copy()	Returns a copy of the set
- -difference()	Returns a set containing the difference between two or more sets
- difference_update()	Removes the items in this set that are also included in another, specified set
- discard()	Remove the specified item
- intersection()	Returns a set, that is the intersection of two other sets
- intersection_update()	Removes the items in this set that are not present in other, specified set(s)
- isdisjoint()	Returns whether two sets have a intersection or not
- issubset()	Returns whether another set contains this set or not
- issuperset()	Returns whether this set contains another set or not
- pop()	Removes an element from the set
- remove()	Removes the specified element
- symmetric_difference()	Returns a set with the symmetric differences of two sets
- symmetric_difference_update()	inserts the symmetric differences from this set and another
- union()	Return a set containing the union of sets
- update()	Update the set with the union of this set and others

In [17]:
a={1,2,3,4,4}
b={2,3,4,8,1}
a.intersection_update(b)#it wont returns the values but it updates

In [22]:

c=[1,2,3,8]
a={1,4,4}
a.isdisjoint(c)

False

In [24]:
a={1,2,3,4} # the length of a and b is equal
b={2,3,4,5} 
a-b # it returns remaining value in a

{1}

In [25]:
b-a # it returns remaining value in b

{5}

In [26]:
sorted(a)

[1, 2, 3, 4]

In [27]:
a ^ b # elements either in a or in b

{1, 5}

In [29]:
d=set() # it creates a empty set
d

set()

In [23]:
li=[1,2,3,4,1,2,3,4]
d=list(set(li))
d

[1, 2, 3, 4]

## Functional programming

- Procedural : C

- Object Oriented : Java, Python

- Scripiting : PHP , Python , Javascript , Shell

- Functional : Python , Haskell , Scala

- Logic : Prolog, Lisp

## List Comprehensions

- [expression for item in list]

In [35]:

#  N natural numbers in list

n=10
l=[]
for i in range(1,n+1):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Wall time: 4 ms

In [25]:
n=10
li=[i for i in range(1,n+1)]
li

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
# Apply list comprehension to store the cubes on n natural numbers

li=[i**3 for i in range(1,int(input())+1)]
li

10

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [40]:
import math
square=[math.sqrt(i) for i in range(2,int(input())+1)]
square

10

[1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [41]:
square1=[i**2 for i in range(2,int(input())+1)]
square1

10

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
#function to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)
factorial(10)

3628800

In [47]:
#apply list compresenion to calculate factorial of n natural numbers
n=10
factoriallist=[factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [51]:
# store cumulative sum of numbers till n into a list
n=6
cummulative=[sum(range(1,i+1)) for i in range(1,n+1)]
cummulative

[1, 3, 6, 10, 15, 21]

In [49]:
factorial(5)

120

In [54]:
listofwords=["i", "love","india"]
result=[word for word in listofwords if word[0]!='i']
result

['love']

In [56]:
#list of comprehensive to store only leap years ina given time period
st=1970
et=2019
leapyears=[year for year in range(st,et) if ((year%400)==0 or (year%100!=0 and year%4==0))]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [1]:
leapyears=[year for year in range(int(input()),int(input())+1) if ((year%400)==0 or (year%100!=0 and year%4==0))]
leapyears

1000
2000

[1004,
 1008,
 1012,
 1016,
 1020,
 1024,
 1028,
 1032,
 1036,
 1040,
 1044,
 1048,
 1052,
 1056,
 1060,
 1064,
 1068,
 1072,
 1076,
 1080,
 1084,
 1088,
 1092,
 1096,
 1104,
 1108,
 1112,
 1116,
 1120,
 1124,
 1128,
 1132,
 1136,
 1140,
 1144,
 1148,
 1152,
 1156,
 1160,
 1164,
 1168,
 1172,
 1176,
 1180,
 1184,
 1188,
 1192,
 1196,
 1200,
 1204,
 1208,
 1212,
 1216,
 1220,
 1224,
 1228,
 1232,
 1236,
 1240,
 1244,
 1248,
 1252,
 1256,
 1260,
 1264,
 1268,
 1272,
 1276,
 1280,
 1284,
 1288,
 1292,
 1296,
 1304,
 1308,
 1312,
 1316,
 1320,
 1324,
 1328,
 1332,
 1336,
 1340,
 1344,
 1348,
 1352,
 1356,
 1360,
 1364,
 1368,
 1372,
 1376,
 1380,
 1384,
 1388,
 1392,
 1396,
 1404,
 1408,
 1412,
 1416,
 1420,
 1424,
 1428,
 1432,
 1436,
 1440,
 1444,
 1448,
 1452,
 1456,
 1460,
 1464,
 1468,
 1472,
 1476,
 1480,
 1484,
 1488,
 1492,
 1496,
 1504,
 1508,
 1512,
 1516,
 1520,
 1524,
 1528,
 1532,
 1536,
 1540,
 1544,
 1548,
 1552,
 1556,
 1560,
 1564,
 1568,
 1572,
 1576,
 1580,
 1584,
 1588,
 1592,
 1596,
 1600,
 1604,
 1608,
 1612,
 1616,
 1620,
 1624,
 1628,
 1632,
 1636,
 1640,
 1644,
 1648,
 1652,
 1656,
 1660,
 1664,
 1668,
 1672,
 1676,
 1680,
 1684,
 1688,
 1692,
 1696,
 1704,
 1708,
 1712,
 1716,
 1720,
 1724,
 1728,
 1732,
 1736,
 1740,
 1744,
 1748,
 1752,
 1756,
 1760,
 1764,
 1768,
 1772,
 1776,
 1780,
 1784,
 1788,
 1792,
 1796,
 1804,
 1808,
 1812,
 1816,
 1820,
 1824,
 1828,
 1832,
 1836,
 1840,
 1844,
 1848,
 1852,
 1856,
 1860,
 1864,
 1868,
 1872,
 1876,
 1880,
 1884,
 1888,
 1892,
 1896,
 1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000]

In [27]:
li = [1,2,3,2,1, 4, 4, 5,5,5]
u2 = []
[u2.append(i) for i in li if i not in u2 ]
u2

[1, 2, 3, 4, 5]

### Iterators
- Iterable - Strings, Lists, Tuples, Sets, Dictionaries
- Convert Iterable to Iterator --> iter()
- For Loop:

In [17]:
it=iter("python")
print("1:")
print(next(it))
print("2:")
print("\n")
print(next(it))

1:
p
2:


y

### Generator
- Generator is a Function

In [25]:

def generator():
    n=2
    yield n
    n=n**3
    yield n
    n=n**3
    yield n
a=generator()
#generator()
next(a)
next(a)
next(a)
#next(a)

512

In [35]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator()
next(a)
next(a)
next(a)
next(a)

2417851639229258349412352

In [44]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator()
next(a)
b=next(a)**2
b*=next(a)
b

35184372088832

In [40]:
def generator1():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator1()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352

StopIteration: