###                                Markdowm Basics

* **Bold**
* *Italic*
* ***IB***
* Normal Text
    * Sublist1
    * Sublist2
    

1. Ordered list element 1
2. Ordered list element 2


I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
>1. Ordered list element 1
>2. Ordered list element 2

    printf("Hello Markdown")
    
<https://google.com>

<mardown@google.com>


![Jupyter Logo](download.png)
[Jupyter Logo](download.png)
<img src="download.png">
<img src="download.png" style="float:left">

### Python Basics

Python Version 3.7


-Scripting/Interpreted language


-object oriented


-functional

In [5]:
#Python Comments

print("alekhya","!",end=" ")
print("Hello Python")

alekhya !Hello Python

### **Assignments**

In [9]:
n1=123456789 #single variable assignment
n4=n3=n2=n1#multi variable assigmennts
#multi variable assignment with different variables
a,b,c=123,143,153
print(a,b,c,n4)

123 143 153 123456789

##### Data Types

 - int
 
 - float
 
 - string

In [35]:
a=21
type(a)
b="python"
type(b)
c=12.34
type(c)
type(str(int(12.34)))

str

### Arithemetic operations
 - +
 
 - -
 - *
 - /
 - %
 - **

In [29]:
n1%11
n3=n2**235
type(n2)
len(str(n3))
atoms=10 ** 20
print(atoms)

100000000000000000000

 ### Conditionals

In [37]:
if atoms<10 **99:
    print("True")
else:
    print("false")

True

In [43]:
#check if a number is Even

n=int(input("enter n value"))
if n%2==0:
    print(n,"is even number")
else:
    print(n,"is odd number")

enter n value34
34 is even number

In [6]:
##### find the greatest of 3 numbers
n1=int(input("enter n1 value"))
n2=int(input("enter n2 value"))
n3=int(input("enter n3 value"))
if n1>n2 and n1>n3:
    print("n1 is largest number")
elif n2>n3 and n2>n1:
    print("n2 is largest number")
else:
    print(n3,"is largest number")

enter n1 value23
enter n2 value12
enter n3 value26
26 is largest number

In [ ]:
### check if a number exists in a given range

In [8]:
#calculate the number is a multiple of 10
a=int(input("enter a value"))
if a%10==0:
    print("multiple of 10")
else:
    print("not a multiple of 10")

enter a value21
not a multiple of 10

In [7]:
# leap year or not
year=int(input("enter the year"))
if (year%400==0) or (year%100!=0 and year%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2013
not a leap year

In [9]:
#check if given string is equal to a number
f1="alekhya"
f2=1234
if str(f1)==f2:
    print(f1,"equal")
else:
    print(f1,"not equal")

alekhya not equal

In [10]:
#check the number is a factor of 1000 or not
a1=int(input("enter a1 value"))
if 1000%a1==0:
    print("factor of 1000")
else:
    print("not a factor of 1000")

enter a1 value23
not a factor of 1000

In [14]:
#calculate the squareroot without using functions
a1=2
a1 ** 0.5

1.4142135623730951

In [ ]:
#calculate the number of nano sec in a given year
year=int(input("enter the year"))
if (year%400==0) or (year%100!=0 and year%4==0):

In [15]:
#check the number is a factor of 1000 or not
a1=int(input("enter a1 value"))
for i in range(1,a1+1):
    if a1%i==0:
        print(i)

enter a1 value1000
1
2
4
5
8
10
20
25
40
50
100
125
200
250
500
1000