In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
s="alekhya ganji"
s=s.split()
for i in s:
    i=i.capitalize()
    print(i,end=" ")

Alekhya Ganji

In [24]:
help(str.isspace)

Help on method_descriptor:

isspace(self, /)
    Return True if the string is a whitespace string, False otherwise.

    A string is whitespace if all characters in the string are whitespace and there
    is at least one character in the string.

In [59]:

s="alekhya ganji kjhkc"
for i in s:
    k=i.capitalize()
    print(k,end="")

ALEKHYA GANJI KJHKC

In [63]:
k="ALEKHYA GANJI KJHKC"
k.casefold()

'alekhya ganji kjhkc'

In [71]:
k.center(90,"*")

'***********************************ALEKHYA GANJI KJHKC************************************'

In [75]:
k="ALEKHYA GANJI KJHKC"
k.count("A")

3

In [92]:
a=10
b=20
print("{0} and {1} is {2}".format(b,a,a+b))

20 and 10 is 30

In [93]:
help(str.translate)

Help on method_descriptor:

translate(self, table, /)
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [94]:
ord("f")

102

In [109]:
s="alekhya ganji"
s1=s.encode("utf-32")
s1

b'\xff\xfe\x00\x00a\x00\x00\x00l\x00\x00\x00e\x00\x00\x00k\x00\x00\x00h\x00\x00\x00y\x00\x00\x00a\x00\x00\x00 \x00\x00\x00g\x00\x00\x00a\x00\x00\x00n\x00\x00\x00j\x00\x00\x00i\x00\x00\x00'

In [110]:
type(s1)

bytes

In [111]:
s1[0]

255

In [129]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [121]:
s

'alekhya ganji'

In [130]:
table=s.maketrans("abc","def","ghj")
table

{97: 100, 98: 101, 99: 102, 103: None, 104: None, 106: None}

In [131]:
s.translate(table)

'dlekyd dni'

In [132]:
s="craete"

In [133]:
table=s.maketrans("ea","ae")
table

{101: 97, 97: 101}

In [134]:
s.translate(table)

'creata'

In [187]:
#input
a="number"
b="first name number"
c="second name"
d="mobile number"

In [188]:

b_split=b.split()
emp=""
for i in range(1,len(b_split)):
    k=(b_split[i].capitalize())
    emp+=k
print(b_split[0]+emp)

firstNameNumber

In [191]:
a="alekhya ganji kwe"
a_split=a.split()
a_split
b='_'.join(a_split)
b


#Alternative method

a=a.replace(" ","_")
a

'alekhya_ganji_kwe'

In [228]:
# d={"alekhya":100,"rekha":20,"yamini":90},print in rank wise order
d1={}
d={"alekhya":10,"rekha":20,"yamini":90}
d_sort=sorted(d.values(),reverse=True)
for i in range(0,len(d_sort)):
    for j in d.items():
        if d_sort[i]==j[1]:
            d1[i+1]=j[0]
print(d1)

{1: 'yamini', 2: 'rekha', 3: 'alekhya'}

In [221]:
# count the common factors for two numbers
a=int(input())
b=int(input())
count=0
for i in range(1,b+1):
    if a%i==0 and b%i==0:
        print(i)
        count=count+1
print(count)

36
72
1
2
3
4
6
9
12
18
36
9

In [230]:
a=[1,1,2,3,4]
b=set(a)
sorted(b,reverse=True)

[4, 3, 2, 1]

In [234]:
help(str.zfill)

Help on method_descriptor:

zfill(self, width, /)
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [233]:
s="ALekhya"
s.startswith("A")

True

In [260]:
a=[1,2,3]
b=[2,3,4]
print(list(map(sum,zip(a,b))))

[3, 5, 7]

In [253]:
a=[1,90,0,78,0]
list(filter(lambda x:x,a))# it wont returns zeroes and negative values

[1, 90, 78]

In [256]:
b=[110,90,78,67]
list(filter(lambda x:x-78,b))# it wont returns zeroes and negative values

[110, 90, 67]

In [269]:
dict={"ranga":100,"shiva":200,"Alekhya":150,"gd":120,"rangu":60,"ramu":60}

k=set((dict.values()))

l=sorted(k,reverse=True)

dict1={}
list1=[]

for i in range(0,len(l)):
    for j in dict.items():
        if l[i]==j[1]:
            dict1[i+1]=j[0]
    print(dict1)
for h in dict1.items():
    print(h[0],h[1])

{100: 'ranga', 200: 'shiva', 150: 'Alekhya', 120: 'gd', 60: 'ramu'}
{1: 'shiva'}
{1: 'shiva', 2: 'Alekhya'}
{1: 'shiva', 2: 'Alekhya', 3: 'gd'}
{1: 'shiva', 2: 'Alekhya', 3: 'gd', 4: 'ranga'}
{1: 'shiva', 2: 'Alekhya', 3: 'gd', 4: 'ranga', 5: 'rangu'}
{1: 'shiva', 2: 'Alekhya', 3: 'gd', 4: 'ranga', 5: 'ramu'}
1 shiva
2 Alekhya
3 gd
4 ranga
5 ramu

In [271]:
dict={"ranga":100,"shiva":200,"Alekhya":150,"gd":120,"rangu":60,"ramu":60}
d={}

for i in dict.items():
    if i in d:
        d[1]=
    else:
        d

{}

In [10]:
list1=[]
while(1):
    n=input()
    if n=='EXIT':
        break
    else:
        if int(n)%2==0:
            list1.append(int(n))
            print(int(n),end=" ")

            #print(list1)
print(end="\n")
print(max(list1))

12
12 34
34 56
56 33
EXIT

56